# To update requirements.txt for praxis and paxml, run:
# bash ./compile_requirements.sh

absl-py
clu==0.0.9
etils
flax==0.9.0
graphviz
jax>=0.4.30
lingvo
numpy
orbax-checkpoint==0.6.3
praxis
pyglove
seqio-nightly
t5
tensorflow>=2.12.1
tensorflow-text
tensorstore
tensorflow-datasets
tfds-nightly>=4.9.4
tensorflow-metadata
protobuf
